<!doctype html>
<html>
  <head>
    <%= partial :head %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag  "bootstrap.min", 'jquery', 'all' %>
  </body>
</html>
